<div
  class="d-flex contenedor-inici position-absolute top-50 start-50 translate-middle p-4 mb-3 text-dark"
>
  <form>
    <div class="d-flex justify-content-between mb-3">
      <button type="button" class="btn btn btn-dark" routerLink="/inici">
        <i class="fa-solid fa-house fa-xl" style="color: #ffffff"></i>
      </button>
      <button type="button" class="btn btn btn-dark" (click)="logOut()">
        <i
          class="fa-solid fa-arrow-right-from-bracket fa-xl"
          style="color: #ffffff"
        ></i>
      </button>
    </div>
    <div
      class="mb-3 form-element d-flex align-items-center justify-content-center p-3 flex-column mt-2"
    >
      <h1 class="form-label text-light bg-dark">
        <i class="fa-solid fa-user fa-2xl" style="color: #ffffff"></i>
      </h1>
      <h2 class="form-label text-light bg-dark mt-3">{{ username }}</h2>
      <h4 class="form-label text-light bg-dark mt-4 text-center">
        Accedeix de forma ràpida a les localitzacions que tens guardades
      </h4>
      <select
        [(ngModel)]="codiMunicipi"
        name="comarca"
        class="form-select mt-3"
        (ngModelChange)="entrarLocalitzacio()"
      >
        <option *ngFor="let municipi of municipis" [value]="municipi.codi">
          {{ municipi.nom }}
        </option>
      </select>
    </div>
  </form>
</div>
<div id="automaticCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/manzanas.jpg" class="d-block w-100 img-fluid" />
    </div>
    <div class="carousel-item">
      <img src="assets/images/tomates.jpg" class="d-block w-100 img-fluid" />
    </div>
    <div class="carousel-item">
      <img src="assets/images/trigo.jpg" class="d-block w-100 img-fluid" />
    </div>
  </div>
</div>
