<app-navbar></app-navbar>
<div class="container">
  <div class="d-flex justify-content-between mt-5 mb-5">
    <div>
      <h1><strong>Predicció meteorlògica</strong></h1>
      <hr />
      <h4 class="mt-3" *ngIf="municipi !== undefined">- {{ municipi.nom }}</h4>
    </div>
    <div>
      <button type="button" class="btn btn-dark" (click)="goBack()">
        Torna enrere
      </button>
    </div>
  </div>
  <div>
    <h3>Temps</h3>
  </div>
  <hr />
  <div>
    <div *ngIf="prediccioDiaria!=undefined" class="d-flex justify-content-around align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <img
          [src]="prediccioDiaria.dies[0].estatCel.icona"
          alt="prediccioDiaria.dies[0].estatCel.nom"
        />
        <p class="fs-3">{{prediccioDiaria.dies[0].variables.tmax.valor + prediccioDiaria.dies[0].variables.tmax.unitat}} </p>
        <p class="p-3 fs-3">Precipitacions: {{prediccioDiaria.dies[0].variables.precipitacio.valor + prediccioDiaria.dies[0].variables.precipitacio.unitat}}</p>
      </div>
      <div>
        <p class="fs-4"><strong>{{ prediccioDiaria.dies[0].data | date : "dd/MM/yyyy" }}</strong></p>
        <p class="fs-4 text-center">{{prediccioDiaria.dies[0].estatCel.nom}}</p>
      </div>
    </div>
    <hr />
    <ul class="nav nav-tabs">
      <li *ngIf="graficaTemperatura" class="nav-item">
        <a class="nav-link active" aria-current="page">Temperatura</a>
      </li>
      <li *ngIf="!graficaTemperatura" class="nav-item">
        <a class="nav-link" (click)="selectGraficaTemperatura()">Temperatura</a>
      </li>
      <li *ngIf="graficaPrecipitacio" class="nav-item">
        <a class="nav-link active" aria-current="page">Precipitacions</a>
      </li>
      <li *ngIf="!graficaPrecipitacio" class="nav-item">
        <a class="nav-link" (click)="selectGraficaPrecipitacio()">Precipitacions</a>
      </li>
    </ul>
    <div *ngIf="diaSelected<3 && graficaTemperatura && 
          prediccioHoraria != undefined" 
          class="chart-wrapper">
      <h4 class="ml-3 mt-3">{{prediccioHoraria.dies[diaSelected].data | date : "dd/MM/yyyy"}}</h4>
      <canvas
        baseChart
        width="300"
        height="100"
        type="line"
        [data]="lineChartTemperatura"
      ></canvas>
    </div>
    <div *ngIf="diaSelected<3 && graficaPrecipitacio&& 
          prediccioHoraria != undefined" 
          class="chart-wrapper">
      <h4 class="ml-3 mt-3">{{prediccioHoraria.dies[diaSelected].data | date : "dd/MM/yyyy"}}</h4>
      <canvas
        baseChart
        width="300"
        height="100"
        type="line"
        [data]="lineChartPrecipitacions"
      ></canvas>
    </div>
    <div class="text-center text-grey" *ngIf="diaSelected>=3">
      <h5 class="p-5">No hi ha dades horàries del día seleccionat</h5>
    </div>
    <hr>
    <div *ngIf="prediccioHoraria!=undefined && prediccioDiaria!=undefined" 
          class="d-flex flex-wrap wrap justify-content-around">
      <div *ngFor="let dia of prediccioDiaria.dies; index as i">
        <div class="dia d-flex flex-column p-3" (click)="selectDia(i)">
          <div class="d-flex justify-content-center">
            <p> {{ dia.data | date : "dd/MM" }} </p>
          </div>
          <div class="d-flex justify-content-center">
            <img
              class="imagen"
              [src]="dia.estatCel.icona"
              alt="dia.nom"
            />
          </div>
          <div class="d-flex flex-wrap wrap justify-content-around">
            <p class="temperatura ml-1 mr-1 text-danger">
              <strong>{{ dia.variables.tmax.valor + dia.variables.tmax.unitat }}</strong>
            </p>
            <p class="temperatura ml-1 mr-1 text-primary">
              <strong>{{ dia.variables.tmin.valor + dia.variables.tmin.unitat }}</strong>
            </p>
            <p class="precipitaciones">
              <img
                class="m-1"
                src="/assets/images/gota.png"
                width="15"
                height="15"
              />
              <strong>{{ dia.variables.precipitacio.valor + dia.variables.precipitacio.unitat }}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>Índex Ultravioleta</h3>
  </div>
  <hr/>
  <div *ngIf="prediccioUvi != undefined" class="d-flex flex-column">
    <h4 class="ml-3 mt-3">{{ prediccioUvi.uvi[0].date | date : "dd/MM/yyyy"}}</h4>
    <div class="chart-wrapper">
      <canvas
        baseChart
        width="300"
        height="100"
        type="bar"
        [data]="barChart1"
      ></canvas>
    </div>
    <h4 class="ml-3 mt-3">{{ prediccioUvi.uvi[1].date | date : "dd/MM/yyyy"}}</h4>
    <div class="chart-wrapper">
      <canvas
        baseChart
        width="300"
        height="100"
        type="bar"
        [data]="barChart2"
      ></canvas>
    </div>
    <h4 class="ml-3 mt-3">{{ prediccioUvi.uvi[2].date | date : "dd/MM/yyyy"}}</h4>
    <div class="chart-wrapper">
      <canvas
        baseChart
        width="300"
        height="100"
        type="bar"
        [data]="barChart3"
      ></canvas>
    </div>
  </div>
</div>
