/* regular style toast */
@import 'ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
.slick-list, .slick-track{
    height: 100% !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Definir altura del navbar */
.navbar {
  height: 60px; /* ajuste el valor según la altura de su navbar */
}
